@font-face {
  font-family: Krabby Patty;
  src: url("/font/krabby_patty/Krabby\ Patty.ttf");
  text-shadow: 1px 1px 5px black;
}
.container {
  font-family: Krabby Patty;
  text-shadow: 1px 1px 5px black;
  vertical-align: top;
  display: inline-block;
}
.logo {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.all-features {
  flex-direction: column-reverse;
  justify-content: right;
  margin-right: 25%;
  text-align: center;
  overflow: hidden;
  width: 100%;
  min-height: 36px;
  position: relative;
}
#board {
  top: 1%;
  left: 11%;
}
#start-btn {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Krabby Patty";
  font-weight: lighter;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  padding: 20px;
  top: 50%;
  right: 16%;
}
#restart-btn {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Krabby Patty";
  font-weight: lighter;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  padding: 20px;
  top: 50%;
  right: 16%;
}
#my-canvas {
  background-image: url("./images/background.jpg");
  display: none;
}
#gameover-screen {
  display: none;
}
.score {
  font-family: Krabby Patty;
  color: rgb(19, 69, 108);
  top: 95%;
  right: 18%;
  transform-style: preserve-3d;
  transform: translateY(-50%) translateX(-50%);
  font-size: 40px;
  line-height: 40px;
  left: 35%;
  display: none;
}
.enemies {
  display: inline-block;
}
