/* Font */
@font-face {
  font-family: Krabby Patty;
  src: url("/font/krabby_patty/Krabby\ Patty.ttf");
  text-shadow: 1px 1px 5px black;
}

#container {
  font-family: Krabby Patty;
  text-shadow: 1px 1px 5px black;
}

.all-features {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: right;
  margin-right: 25%;
  text-align: center;
  overflow: hidden;
  width: 100%;
  min-height: 36px;
  position: relative;
}

/* Initial screen */
#initial_logo {
  position: absolute;
  top: 10%;
  left: 15%;
}
/* Style of the buttons */
#start-btn {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Krabby Patty";
  font-weight: lighter;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  padding: 20px;
  position: absolute;
  top: 48%;
  left: 18%;
}
#restart-btn {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Krabby Patty";
  font-weight: lighter;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  padding: 20px;
  position: absolute;
  top: 10%;
  margin-left: 350px;
}
#my-canvas {
  background-image: url("./images/background.jpg");
  display: none;
}
#gameover-screen {
  display: none;
}
#center {
  font-family: Krabby Patty;
  color: rgb(19, 69, 108);
  transform-style: preserve-3d;
  position: absolute;
  top: 92%;
  left: 18%;
  transform: translateY(-50%) translateX(-50%);
}
.score {
  transform-style: preserve-3d;
  font-size:40px;
  position: relative;
  line-height: 40px;
  left: 30%;
}
